<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="parentNav">
        <nav class="nav container">
            <div class="navLogo">
                <img src="https://www.jiocinema.com/images/jc_logo_v2.svg" class="img-fluid" width="120px" alt="">
            </div>
            <div class="navlinks">
                <a href="/index.html" class="NavbarLinks">Home</a>
                <a href="/pages/sports.html" class="NavbarLinks">Sports</a>
                <a href="/pages/movies.html" class="NavbarLinks">Movies</a>
                <a href="/pages/tvshows.html" class="NavbarLinks">TV Shows</a>
                <a href="/pages/more.html" class="NavbarLinks">More</a>
            </div>
            <div class="navsearch">
                <div class="navSearchParent"><input type="text" placeholder="Search for movies, shows, or people"
                        class="inputNav"></div>
                <div class="userParent"><i class="fa-solid fa-user iconUser"></i></div>
            </div>
        </nav>
    </div>
</body>

</html>